.no-images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: #f5f5f5;
}

.compare-images {
    width: 100%;
    height: 500px;
    overflow: auto;    
}

.compare-image-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.compare-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

