@import "tailwindcss";

.main {
    gap: 1rem;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 20px !important;
    overflow: hidden;

    h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: bold;
        height: 4rem;
    }

    .main-tabs {
        height: calc(100vh - 4rem);
    }

    .main-tabs .ant-tabs {
        flex: 1
    }
}